
body {
    margin: 0;
    background-color: aliceblue;
    color: #60819e
}

.header {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    font-size: 50px;
    width: auto;
    text-align: center;
    background-color: aliceblue;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 25px;
    color: #60819e
}
.title {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    text-align: center;
}
.card {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    text-align: center;
    font-size: 10px;
    border-radius: 20px;
    border: 2px solid #c3d5d6;
    padding: 20px;
    width: 25px;
    height: 20px;
    margin: 3px; 
}
.icon {
    font-size: 20px;
}
.name {
    text-align: center;
    margin-left: -10px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-right: 75px;
  }


.navbar {
    width: auto;
    align-items: center;
    background-color: #b7d9f7;
    /* figure out margins */
    /* margin: 0% 25% 25% 0%; */
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

#coffeeImage {
    max-height: 200px;
}

.recordedMoods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 50px;
    justify-content: center;

}
.recordedMoodsHeader {
    text-align: center;
}

.welcomePage {
    margin-top: 50px, 0px, 0px, 0px;
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: Garamond;
    
    
}

.moodForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 50px;
    justify-content: center;
}
.moodFormHeader {
    text-align: center;
}

.displayMoodsHeader {
    text-align: center;
}
